alb.tf
certmanager.tf
chartmuseum.tf
clusterautoscaler.tf
datasource.tf
externaldns.tf
externalsecretsoperator.tf
iam_policy.json
iam.json
ingressnginx.tf
internalingressnginx.tf
kubeprometheusstack.tf
locals.tf
loki.tf
metricserver.tf
mysql.tf
mysqlexporter.tf
namespace.tf
nodeterminationhandler.tf
password.tf
promtail.tf
providers.tf
reloader.tf
values/values.albcontroller.yaml
values/values.certmanager.yaml
values/values.chartmuseum.yaml
values/values.clusterautoscaler.yaml
values/values.externaldns.yaml
values/values.externalsecretsoperator.yaml
values/values.ingressnginx.yaml
values/values.internalingressnginx.yaml
values/values.kube-prometheus-stack.yaml
values/values.loki.yaml
values/values.metricserver.yaml
values/values.mysql.yaml
values/values.promtail.yaml
values/values.reloader.yaml

variables.tf.bk
